*{
    margin: 0;
}



.boxes{
    display: flex;
    border: 5px solid gray;
    height: 500px;
    width: 80%;
    margin: 0 auto;
}

#grow{
    flex-grow: 1;
 }

.box{
    width: 200px;
    border: 3px solid goldenrod;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}